body{
    margin:0px;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
.left{
    float: left;
}
.right{
    float:right;
}
.clearfix{
    content:"";
    clear: both;
    display: block;
}
a{
    text-decoration: none;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
    margin: 0px;
}
.row {
    display: flex;
    flex:1;
}
#container{
    overflow-x:hidden;
    margin: 0 auto;

}
.container {
    /* width: 100%; */
    margin: 0 auto;
    overflow-x: hidden;
}
/* Header Logo*/
#header{
    background-color:transparent;
    margin-top:35px;
    width:100%;
    position: absolute;
    z-index: 100;
    top:0px;
    left: 0px;
}
#header #container{
    padding: 0 2vw;
}
.logo{
    /* flex: 1; */
    text-align: center;
    border:10px solid;
    border-color: #5D8990  #9A9489 #9A9489  #5D8990 ;
    /* margin-left:100px; */
    padding: 0px;
}
.logo h1{
    font-size: 50px;
}

.logo h1 a{
 font-weight: 600;
    color:rgba(0,0,0,0.73);
    display: block;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 6px;
    padding: 0px;
    margin: 0px;
}
.logo h1 a span{
color: #EA3621; 
display: block;
    font-size: 40px;
    letter-spacing:3px;
    padding-left: 53px;
}
/* Header navigation */
#main-nav ul{
text-align:center;
}
#main-nav{
    /* position: relative; */
    margin-left:0px;
    flex: 4;
    margin-top: 30px; 
}
#main-nav ul li{
    display:inline-block;
    margin:0px 12px 0px;
    /* position: relative; */
}
#main-nav ul li a{
    font-size: 20px;
    font-weight:bolder;
    display: block;
    padding: 14px 10px;
    color:rgba(0,0,0,0.73);
    text-transform: uppercase;
    transition: 0.5s;
}
#main-nav ul li a:not(.active):hover{
    border:5px solid;
    border-color: #5D8990  #9A9489 #9A9489  #5D8990 ;
    /* padding:2px; */
}
#main-nav ul li a.active{
    border:5px solid;
    border-color: #5D8990  #9A9489 #9A9489  #5D8990 ;
}
/* header user section */
#user-sec{
    margin-top:45px;
    flex:1;
}
#user-sec button{
cursor: pointer;
    color: #fff;
    display: inline-block;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    padding: 8px 20px;
    border: 1px solid rgba(255,255,255);
    background: rgba(0, 0, 0, 0.45);
}
#user-sec  button:hover{
background-color: rgba(0, 0, 0, 0.65)
}

/* Banner */ 
.slide img{
    width:100%;
    max-height: 600px;
    margin-top:0px;
    filter: grayscale(40%);
}
#banner{
    position: relative;
    background-size: 100% 100%;
    width: 525vw;
    animation: slider 30s infinite linear;
}
.slide{
    width:20%;
    display: inline-block;
    margin:0px -2px;
}
@keyframes slider{
    0%,33%{
        transform: translateX(0%);
    }
    35%,68%{
        transform: translateX(-20%);
    }
    70%,100%{
        transform: translateX(-40%);
    }
} 
/* social media */
 #social-media{
    position: absolute;
    z-index:10;
    right:10%;
bottom:25%;
/* padding: 0px;
margin: 0px; */
/* background-color: #777; */
}
.fab  {
  padding: 8px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}
.fab:hover {
    opacity: 0.7;
}
.fa-facebook-f {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
  }

/* footer */
#footer{
    background-color: #0E0E0E;
    margin:0px;
    padding:0px;
}

#footer .section {
margin-left:12%;
margin-bottom: 35px;
text-align: center;
padding-top:70px;
padding-right: 51px;
}
#footer .section h3{
    font-size: 20px;
color: #fff;
letter-spacing: 5px;
margin-bottom: 10px;
font-family: 'Dancing Script', cursive;
font-weight: normal;
padding:5px 20px;
}
#footer .section h4{
    font-family: 'Source Sans Pro', sans-serif;
    color:#9c9c9c;
    letter-spacing: 0.5px;
    font-weight:normal;
    font-size:16px;
    text-align:center;
}
#footer .section span{
    display: block;
    margin-top:5px;

}
#footer .section span a{
    color: #EA3621;
}
#footer .section span a:hover{
    color: white;
}
/* services */
#section-1{
    text-align: center;
    margin-bottom: 0px;
    margin-top:50px;
    text-align: center;
}

.heading h2{
    padding-top:70px;
    padding-bottom:25px; 
    text-align: center;
    letter-spacing: 1px;
    font-size: 35px;
    color: #000;
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
}
.icons{
    text-align: center;
    padding-left: 100px;
    padding-right:100px;
}
.icons h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 100px;
    letter-spacing: 1px;
}
.icons .fas,.icons .far  {
    padding: 19px;
    font-size: 27px;
    height: 70px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
    border: 2px solid red
  }
  
.icons .fas:hover,.icons .far:hover{
 border:none;

  }
.fa-search,.fa-list-alt,.fa-phone,.fa-users{
    color:black;
    cursor: pointer;
}
.down-r,.down-l{
    margin-top:40px;
}
.up-r,.down-r{
    /* margin:0px,10px; */
    padding-left:50px;
}
.up-l,.down-l{
    float:left;
}
.up-r,.down-r{
    float: right;
}
.form{
background-color: #0E0E0E;
width:45%;
padding:0px 20px;
text-align: center;
/* height:40%; */
}
.form form h3{
    font-family: 'Raleway', sans-serif;
    color:white;
    padding:20px;

}
.form h4{
    font-family: 'Raleway', sans-serif;
    color:#b1acac;
}
input[type="text"]{
    color:white;
    background-color: transparent;
    border:none;
    border-bottom:2px solid #b1acac;
    padding: 5px;
    margin:10px;
    
}
input[type="submit"]{
    background-color: transparent;
    border: 1px solid white;
    padding: 16px 20px;
    height: 5%;
    cursor: pointer;
    margin: 20px;
    font-size: 15px;
    color:white;
}
input[type="submit"]:hover{
    background-color: #2e2e2e;

}
#parallax{
    background-size: 100% 100%;
    background-attachment: fixed;
    margin-bottom: 400px;
    height:1000px;
}

#couples{
/* height: 600px; */
background-image: url("../Images/parallax2.jpg");
background-size: 100% 100%;
background-attachment: fixed;
position: relative;
text-align: center;
margin-top:3em;
}
#couples .appdown{
    padding:50px 0px;
}
#couples .appdown .heading h2{
    display: block;
    color:white;
    letter-spacing: 2px;
    font-size:30px;
    font-family: 'Dancing Script', cursive;

}
#couples .appdown .image{
    display: inline;
    float:left;
}
#couples .appdown .heading {
    float: left;
}
#couples .heading button:hover, #couples .image img:hover{
    transform: rotateY(360deg);
    transition-duration: 2s;
}
#couples .appdown .heading h4{
display: inline-block;
text-align: center;
}
#couples .appdown .heading .button{
padding:0px;
margin:30px;
display: block;
border:2px solid black;
}
/* section 2 */
#section-2 .heading {
    display: block;
    font-size:20px;
    /* text-align: center; */
}
#section-2 .image{
    width:67%;
    margin-bottom:0px;
}
#section-2 img{
    width:100%;
}
#section-2 .profile{
    /* display: inline-block; */
    background-color: #0E0E0E;
    color:white;
    text-align: center;
}
#section-2 .profile h2{
    font-family: 'Dancing Script', cursive;
letter-spacing: 2px;
/* padding:-90px 300px; */
font-size:30px;
margin: 43px;
}
#section-2 .profile h2 span{
    color:#EA3621;
}
#section-2 .profile p{
    font-size: 16px;
    color: #777;
    letter-spacing: .6px;
    line-height: 33px;
    font-family: 'Source Sans Pro', sans-serif;
}
#sub-section .heading{
    padding-left: 5%;
}
#sub-section{
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
}
#sub-section button{
    background-color: #EA3621;
    border: 1px solid white;
    padding: 15px 53px;
    height: 46%;
    cursor: pointer;
    margin: 25px;
    font-size: 22px;
    text-align: center;
}
#sub-section .button {
padding:33px;
}
#sub-section .button a{
    color: white;
}
#sub-section button:hover{
    background-color:orangered;
}
.profile button{
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 53px;
    height: 16%;
    cursor: pointer;
    margin: 28px;
    font-size: 22px;
    text-align: center;
}
.profile button a{
    color: white;
}
.profile button:hover{
    background-color: #2e2e2e;
}
/* slideshow */
.pair img{
    /* height:500px; */
    width:100%;
    height:100%;
    position: relative;
    overflow:hidden;
}

.pair img:hover {
border:19px solid rgba(0,0,0,0.78) ;
cursor: pointer;
filter:grayscale(42%);
}

#slideshow{
    /* width:100%; */
    text-align: center;
    animation:sliders 9s infinite linear;
}
#slider-head h2{
    padding-top:70px;
    padding-bottom:25px; 
    text-align: center;
    letter-spacing: 1px;
    font-size: 35px;
    color: #000;
    font-family: 'Dancing Script', cursive;
    text-transform: capitalize;
}
.pair{
    width:20%;
    display: inline-block;
    margin:0px -2px;
}
#section-3{
    padding-bottom:40px;
    margin-top:120px;
}
 @keyframes sliders{
    0%,48%{
        transform: translateX(0%);
    }
    50%,100%{
        transform: translateX(-1%);
    }


} 
/* rule */
.main{
    color:#B42C1C;
    position: relative;
    display: inline-block;
    left:48%;
}
.tilt{
    color: white;
    transform: rotate(-22deg);
    position: absolute;
    left:48%;
    display: inline-block;
    padding-top: 13px;
}
.contact{
    text-align: center;
}
.contact button{
    background-color: transparent;
    border: 1px solid white;
    padding: 16px 53px;
    height: 10%;
    cursor: pointer;
    margin: 32px;
    font-size: 22px;
}
.contact button a{
    color: white;
}
.contact button:hover{
    background-color: #2e2e2e;
}
.motto{
    text-align: center;
    padding-bottom: 40px;
}
.motto h2{
    font-size: 16px;
    letter-spacing: 5px;
    font-weight: 600;
    color:#b1acac;   
     font-family: 'Raleway', sans-serif;
}
.footer-end{
    text-align: center;
    background-color: #000000;
    position: relative;
}
.footer-nav{
    padding:10px;
}
.footer-nav ul{
    text-align: center;
}
.footer-nav ul li{
    display: inline-block;
    padding: 10px 10px;
    
}


.footer-nav ul li a{
    color:white;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}
.footer-nav ul li a:hover{
    color:#337ab7;
}
.footer-end hr{
    color:#b1acac;   
}
#social-media-2{
    position: absolute;
    z-index:10;
    right:136px;
    bottom:0px;
}
.fa-copyright{
    color:white;
    background: transparent;
    left: 0%;
}
.info{
    font-size: 15px;
    padding: 20px 0px;
}
.info span{
    font-size: 15px;
    color:white;
}
.menu-btn {
    /* padding: 3% 3% 2%; */
    position: absolute;
    top: 5%;
    left: 40%;
    background: transparent;
    border: none;
    display: none;
    border: 1px solid rgba(255,255,255);
    pointer-events: none;
    z-index: 100;
    background: rgba(0, 0, 0, 0.45);

}
.menu-btn .line {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 4px;
    background-color:white;
    transition: 1s;
}

input[value="toggle-menu"] {
    position: absolute;
    top: 9%;
    right: 5%;
    height: 16px;
    width: 30px;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
}

@media(max-width:1200px){

    .logo{
        /* margin-left: 45px; */

        border: 7px solid;
        border-color: #5D8990  #9A9489 #9A9489  #5D8990;
        
    }
    #main-nav ul li a{
        padding: 8px 8px !important;
        font-size:19px;
    }
    #main-nav ul li{
        margin:0px;
    }
    #main-nav {
        margin-left: 10px;
        flex: 3;
    }
    #user-sec{
        flex:1.1;
        margin-left: 36px;
    }
    #user-sec button{
    padding:8px 17px;
    }
    .up-r,.down-r{
        margin-top:-101px;
        padding-left:40px;
        margin-left:71px;
    }
    .profile button{
        margin: 0px;
        padding: 15px;
        font-size:17px;
    }
    #section-2 .profile p{
        font-size: 13px;
    }
    #footer .section{
        margin-left: 7%;
    }
    .info{
        padding:20px 30px;
    }
    #couples {
        background-size: 100% 100%;
    }
}
@media(max-width:992px){

    .logo{
        /* margin-left: 8px; */
        flex:none;
        border:5px solid;
             border-color: #5D8990 #9A9489 #9A9489 #5D8990;
    }
    .logo h1 a span{
        font-size:26px;
        padding-left: 20%;
    }
    .logo h1{
        font-size: 30px;
    }
    #sub-section .heading h2{
        padding: 16% 0%;
        font-size: 27px;
    }
    #sub-section .button{
        padding: 4%;
    }
    #sub-section button{
        font-size: 18px;
        padding: 11px 53px;
    }
    #couples .appdown{
        padding: 0% 0%;
    }
    #couples .image img{
        width:56%;
    }
    #couples .image{
        width:68%;
    }
    #couples .appdown .heading h2{
        font-size: 23px;
        padding-top:0%;
    }
    #couples .appdown .heading .button{
        margin-top:0%;  
    }
    #couples .appdown .heading .button img{
        width:50%;
        border:none;
    }    
    #couples .appdown .heading {
        float: right;
        margin-top:5%;
    }
}

@media(max-width:768px){
    #sub-section .heading h2{
        font-size: 23px;
    }
    #sub-section button{
        font-size: 12px;
    }
    #header{
        margin-top: 5%;
    }
    .logo h1 a span{
        padding-left: 19%;
    }
    #main-nav{
        margin-top: 16px;
        /* margin-left: 0.%; */
    }
    #main-nav ul li a{
        font-size: 15px;
        padding: 8px 8px;
    }
    #user-sec{
        flex: 1.1;
        margin-top: 21px;
    }
    #user-sec button{
        padding: 8px 15px;
        letter-spacing: 0px;
    }
    .icons{
        padding: 0% 2%;
    }
    .icons h3{
        font-size: 14px;
    }
    .up-r,.down-r{
        margin-top: -23%;
    }
    #section-2 .row{
        display: block;
    }
    #section-2 .image{
        width: 100%;
    }
    #section-2 .profile h2{
        margin: 0%;
    }
    .profile button{
        padding:9px;
        margin-bottom: 2%;
    }
    #couples .appdown .image{
        display: inline-block;
        width:50%;
    }
    #couples .image img{
        width:100%;
    }
    #couples .appdown .heading{
        /* float: none; */
        margin: 6%;
    }
    .form form h3{
        font-size:17px;
        padding: 14px; 
    }
    .form h4{
        font-size: 12px;
    }
    input[type="submit"]{
        margin: 7px;
        padding: 8px 20px;
    }
}

@media(min-width: 640px){
    .menu-btn {
        display: none;
    }
        #main-nav{
        position: relative;
    } 
 

}

@media(max-width: 639px){
    /* #main-nav{
        position: relative;
    } */
    .menu-btn {
        display: block;
    }
     #main-nav ul {
        position: absolute;
        display: block;
        top: 100%;
        text-align: center;
        width: 100%;
        height: 180%;
        left:0%;
        background-color: rgba(0,0,0,0.5);
        transform: scale(1,0);
        transform-origin: top;
        transition: 1s;
    } 

    ul li {
        padding: 10px;
        margin: 0px;
    }
    ul li a {
        color: #fff;
        font-size: 20px;
        text-decoration: none;
    } 
    .logo h1{
        font-size: 36px;
    }
    .logo h1 a span{
        font-size: 32px;
    }
    .menu-btn{
        top:23%;
        left:40%;
        padding: 1% 2% 1% ;
    }
    input[value="toggle-menu"]{
        top:5%;
        left: 0%;
        width:100%;
        height: 50%;
        /* padding: 3% 2% 2% ; */

    }
    #main-nav input[value='toggle-menu']:checked ~ ul {
        transform: scale(1,1);
    }
    #main-nav input[value='toggle-menu']:checked ~ .menu-btn .line:nth-child(2) {
        opacity: 0;
    }
    #main-nav input[value='toggle-menu']:checked ~ .menu-btn .line:first-child {
        transform: rotate(45deg);
        background-color:red;
        margin-bottom: 4px;
        margin-top: 9px;
    }
    #main-nav input[value='toggle-menu']:checked ~ .menu-btn .line:last-child {
        transform: rotate(-45deg);
        margin-top: -12px;
        background-color:red;
        margin-bottom: 11px;
    }
     /* #main-nav ul{
        width: 200% !important;
        right: -50% !important;
        top:103% !important;
        height: 165% !important;
    }  */
    #main-nav ul li{
        display: block !important;
        padding: 0px;
    }
    #main-nav ul li a{
        font-size: 12px;
        padding: 0px;
        padding-top: 9px;
        color:rgba(255,255,255,0.86);
         
    }
    #main-nav ul li a:hover{
        border: none;
        color:rgb(255,255,255);
    }
    #main-nav ul li a:not(.active):hover,#main-nav ul li a.active{
        border: none;

    }
    .logo{
        margin-left: 10%;
    }
    #user-sec {
        /* margin-left: 0; */
        /* margin-right: 0px; */
        flex:2;
        margin: 21px 0 0;
        /* margin-top: 10%; */
    }
    .heading h2{
        padding-top:29px;
    }
    #section-1{
        margin:0;
    }
    .down-r, .down-l{
        margin-top: 1%;
    }
    .up-r, .down-r {
        margin-top: 0%;
    }
    .form{
        padding: 0px 10px;
    }
    .form form h3 {
        font-size: 15px;
        padding: 24px;
    }
    .form h4 {
        font-size: 12px;
        padding-bottom: 10%;
    }
    input[type="submit"] {
        margin: 20%;
        padding: 8px 20px;
    }
    #couples .appdown .heading {
        /* float: none; */
        margin: 0%;
    }
    #sub-section .heading {
        padding-left: 14%;
    }
    #sub-section .heading h2 {
        padding: 10% 0%;
        /* font-size: 27px; */
    }
    #sub-section .button {
        padding: 0% 24%;
        float: none;
        /* margin: 0%; */
    }
    #sub-section button{
        margin:0% 10% ;
    }
    #footer .row{
        display: block;
        flex:1;
    }
    #footer .section{
        margin-left: 17%;
    }
    #footer .main{
      left:45%;
    }
    #footer .tilt{
        left:45%;
        padding-top: 9px;
    }
    #footer .section{
        padding-top: 5px;
        margin-bottom: 17px;
    }
    #footer .section h3{
        font-size: 14px;
        margin-bottom: 0px;
    }
    #footer .section h4{
        font-size:10px;
    }
    #footer .section span{
        margin-top: 0px;
    }
    .fa-3x{
        font-size:1.7em;
    }
    .fa-2x{
        font-size: 1em;
    }
    .contact button{
        padding: 7px 11px;
        margin: 12px;
        font-size: 12px;
    }
    .motto{
        padding-bottom: 7px;
    }
    
    .motto  h2{
        font-size: 9px;
        letter-spacing: 3px;
        font-weight: 500;
    }
    .footer-nav ul li a{
        font-size: 9px;
    }
    .footer-nav ul li{
        padding: 0px 10px;
        display: block;
    }
    .footer-nav{
        padding: 2px;
        padding-bottom: 2px;
    }
    #social-media-2{
        position: static;
    }
    #social-media-2 .fab{
        padding:2% !important;
    }
    .fab{
        padding: 4%;
        font-size: 12px;
        height: 25px;
        width: 25px;
        margin:0px 2px;
    }
    .info span{
        font-size: 11px;
    }
    .fa-1x{
        font-size: 0.7em;
    }
    .info{
        padding: 0px 30px;
        padding-bottom: 4px;
    }
}
@media(max-width:480px){

    #header{
        margin-top: 4%;
        margin-left: 5%;
    }
    .logo{
        margin-left: 11px;
    }
    #user-sec button{
        padding: 4px 6px;
        margin-right: 0%;
    }
    #user-sec{
        margin-left: -7% !important;
        flex: 4;

    }
    #social-media{
        bottom: 52%;
        right:5%;
    }
    input[value="toggle-menu"]{
        top:5%;
        left: 40%;
        width: 10%;
        height: 50%;
    }
    /* .up-l,.up-r,.down-l,.down-r{
        display: block;
    } */
    #section-1 .row{
        display: block;
    }
    .form{
        width:100%;
        margin-top: 40%;
    }
    .up-r,.down-r{
        margin-top:8% !important;
        padding-left: 0%;
        margin-left: 0%;
    }
    .up-l,.down-l{
        margin-top: 6%;
    }
    #section-1{
        margin-top: 0%;
    }
    #section-1 .row h3{
        font-size: 15px;
        font-weight: 100;
    }
    .heading h2{
        padding-top: 7%;
        padding-bottom: 7%;
    }
    #section-2 .row{
        display: block;
    }
    #section-2 .image{
        width:100%;
    }
    #section-2 .profile h2{
       margin: 0%;
       font-size: 25px;
     }
     #section-2 .profile p{
         font-size: 11px;
         line-height: 21px;
     }
     #section-2 .profile button{
         margin-bottom:2%;
         padding: 7px;
         font-size: 12px;
     }
     #couples .appdown{
         padding: 0%;
     }
     #couples .image{
       display: block;
     }
     #couples img{
         width:100%;
     }
     #couples .appdown .heading {
         margin: 0% 10%;
     }
     #couples{
         /* height: 516px; */
         background-size: 33% 57%;
     }
     #couples .appdown .heading .button{
         display: none;
     }
     #sub-section .heading h2{
         font-size: 26px;
     }
     #sub-section .button{
         padding: 0% ;
         padding-right:20%;
         margin-left: 25%;
     }
     #section-3{
         margin-top: 35%;
     }
     #slider-head h2{
         font-size:30px
     }
     #sub-section button{
         margin:0px;
         font-size:15px;
     }
     #slideshow .pair{
         width:48%;
     }
     #couples .appdown .heading h2{
         font-size: 23px;
     }
     #couples .appdown .heading .button{
         margin: 15px;
     }
    .menu-btn{
        top:21%;
        right:-20%;
        padding-top: 4px;
    }
    .menu-btn .line{
        width: 24px;
        height: 2px;
    }
     
     .info{
         padding: 0px 30px;
         padding-bottom: 4px;
     }
     #main-nav ul{
         /* position: absolute; */
         width:100% !important;
         left: -5% !important;
         top:103% !important;
         height: 161% !important;
     }
     #main-nav ul li{
         display: block !important;
         padding: 0px;
     }
     #main-nav ul li a{
         font-size: 12px;
         padding: 0px;
         padding-top: 9px;
         color:rgba(255,255,255,0.86);
          
     }
     #main-nav ul li a:hover{
         border: none;
         color:rgb(255,255,255);
     }
     #main-nav ul li a:not(.active):hover,#main-nav ul li a.active{
         border: none;
 
     }
 
 }

 @media(max-width:360px){
     #header{
         margin-top: 4%;
     }
     .logo h1 a{
         font-size: 28px;
     }
     .logo h1 a span{
         font-size: 25px;
     }
     .logo{
         /* margin-left: 11px; */
     }
     #user-sec{
         margin-top: 15%;
         margin-left:-46% !important;
     }
     #user-sec button{
         padding: 4px 11px;
         margin-right: 0%;
     }
     #sub-section .heading h2 {
         font-size: 20px;
     }
     #couples .appdown .heading .button{
         display: none;
     }
     #couples .appdown .image {
         display: block;
         width: 100%;
         /* float: left; */
     }
     #main-nav ul{
         right: -25% !important;
     }
     .up-r,.down-r{
         margin-top: 6% !important;
     }
     .icons{
         display: block;
     }
     input[type="submit"] {
         margin: 4%;
         padding: 9px 20px;
     }    
     #sub-section button{
         margin-left: 26%;
     }
     #section-1 .row h3{
         font-size: 13px;
     }
     #sub-section .button{
         padding-right:0%;
         margin-left:0% ;
     }
     .menu-btn{
         right: 3% !important;
     }
     input[value="toggle-menu"]{
         right: 3%;
     }
     #main-nav ul{
        width: 100% !important;
        /* right: -70% !important; */
        /* top: 103% !important; */
        height: 202% !important
     }
 }